[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
job-api = {editable = true, path = "."}

[dev-packages]
pytest = "*"
uvicorn = "*"
requests = "*"
pre-commit = "*"
pylint = "*"
flake8 = "*"
pytest-asyncio = "*"
pylint-pytest = "*"

[requires]
python_version = "3.9"
